.title {
  color: blue;
}

/* We're working with the body tag, and so with the WHOLE page */
body
{
    background-color: pink; /* The page background will be black */
    color: white; /* The page text will be white */
}