<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />

</head>

<center>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="title">Who's day is it?</h1>
<h3 class="author">Built by and for Sachi Yokose & Andy Scheff </h3>
<img src="{{ url_for('static', filename='img/03Pre-Ceremony(45of296).JPG') }}" alt="Sachi and Andy's Wedding" style="width:500px;">

<h1 class="whos_day_sentence" >Today is {{name}}'s day.</h1>

<h2 class="yesterday_sentence" >Yesterday was {{other_name}}'s day.</h2>

<h3 class="rate_sentence" >Help {{other_name}} improve. Rate {{other_pronoun}} day on a scale from 1-10, 10 being the best. </h3>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.attitude_score) }}
    {{ render_field(form.cleanliness_score) }}
    {{ render_field(form.taste_score) }}
    {{ render_field(form.comment) }}
  </dl>
  <p><input type=submit value="Submit Rating">
</form>

<h2 class="sign_off" >Remember that we love each other and are here for each other.</h2>

</center>

</html>